@import "tailwindcss";
 @font-face{
  font-family: Cedraville;
  src: url("../src/assets/font/GreatVibes-Regular.ttf");

 }
 
 @font-face {
   font-family: tinos;
  src : url("../src/assets/font/Tinos-Regular.ttf")
 }
@theme{
  --font-tinos: tinos, "serif"
}
 

 @theme{
  --font-cedraville: Cedraville , "cursive";
  
 }

 @font-face{
  font-family: priestancy;
  src: url("../src/assets/font/Priestacy.ttf");
 }
 @theme{
  --font-priestancy: priestancy, "cursive";
 }